#### Multiply 10 with 5, and print the result.

In [17]:
10*5

50

### Divide 10 by 2, and print the result.

In [18]:
10/2

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [19]:
fruits=["apple","mango"]
print("apple" in fruits)

True

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [20]:
5!=10

True

### Use the correct logical operator to check if at least one of two statements is `True`.

In [21]:
print(True or False)

True

### Print the second item in the fruits list.

In [22]:
print(fruits[1])

mango

### Change the value from "apple" to "kiwi", in the fruits list.

In [23]:
index=fruits.index("apple")
fruits[index]="kiwi"
print(fruits)

['kiwi', 'mango']

### Use the append method to add "orange" to the fruits list.

In [24]:
fruits.append("orange")
fruits

['kiwi', 'mango', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [25]:
fruits.insert(0,"banana")
fruits

['banana', 'kiwi', 'mango', 'orange']

### Use the remove method to remove `"banana"` from the fruits list.

In [26]:
fruits.remove("banana")
fruits

['kiwi', 'mango', 'orange']

### Use negative indexing to print the last item in the list.

In [27]:
fruits[-1]

'orange'

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [28]:
fruits[1:3]

['mango', 'orange']

### Use the correct syntax to print the number of items in the list.

In [29]:
len(fruits)

3

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

In [32]:
numbers=[1,2,3,4,65,101,150,160,165,237,300,305,400,401]
for num in numbers:
    if num==237:
        break
    if num%2==0:
        print(num)
        
#or
print("\n")
num=[1,2,3,4,65,101,150,160,165,237,300,305,400,401]
i=0
while (i<len(num) and num[i]!=237):
    if (num[i]%2==0):
        print(num[i])
    i+=1

2
4
150
160


2
4
150
160

### Write a Python program that will accept the base and height of a triangle and compute its area.

In [16]:
base=float(input("enter base ")) #10
height=float(input("enter height ")) #5
print("area is equal= " + str(0.5*base*height))

area is equal= 25.0

### Sort three integers without using conditional statements

In [33]:
x=int(input("first number ")) #10
y=int(input("second number ")) #20
z=int(input("third number ")) #5
maximum=max(x,y,z)
minimum=min(x,y,z)
middle=x+y+z-maximum-minimum
print(f"{minimum} {middle} {maximum}")

5 10 20

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

In [14]:
total= int(input("length of numbers "))
List = []
for i in range(total):
    x=float(input(f"enter number in index {i} "))
    List.append(x)
print(List)
if(total==len(set(List))):
    print(True)
else:
    print(False)
    

#another
List = []
for i in range(total):
    x=float(input(f"enter number in index {i} "))
    if x in List:
        break
    else:
        List.append(x)
print(List)
if(len(List)==total):
    print(True)
else:
    print(False)

[1.0, 2.0, 2.0, 3.0, 4.0]
False
[1.0, 2.0]
False

#### Dictionary

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [3]:
sum([0,1,2,3,4,5])
sum((0,1,2,3,4,5))
sum({0,1,2,3,4,5})
sum({5:5,10:11})

15

### Python program to find the sum of all values in a dictionary

In [10]:
Dict={'a':10,'b':-20,'c':30,'d':-5}
print(sum(Dict.values()))

15

### Filter the negative values from given dictionary

In [11]:
Dict={'a':10,'b':-20,'c':30,'d':-5}
Dict2={k:v for k,v in Dict.items() if v>=0}
print(Dict2)

{'a': 10, 'c': 30}

### Test if all Values are Same in Dictionary

In [6]:
Dict={'a':5,'b':5,'c':5,'d':10}
x=set(Dict.values())
if len(x)==1:
    print(True)
else:
    print(False)
print(x)

False
{10, 5}

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

In [5]:
Dict={'a':"orange",'b':"banana",'c':"apple"}
x=input("enter fruit ") #banana

#to use any
Dict2={x in Dict.values():v for _,v in Dict.items()}
print(any(Dict2))

True

# `any`

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

In [19]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
x=200
if x in dict1.values():
    print(True)
else:
    print(False)

True

### Calculate the sum of all numbers from 0 to a given number

In [14]:
end=int(input("enter a number "))
sum=0
for i in range(end+1):
    sum+=i
print(f"the sum from 0 to {end} included is: {sum}")

the sum from 0 to 5 included is: 15

### Find the factorial of a given number using while loop

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

In [ ]:
factorial=int(input("enter a number "))
fact=1
for i in range(1,factorial+1,1):
    fact=fact*i
print(f"the factorial of {end} is: {fact}")

the factorial of 5 is: 120

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [26]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1,len(my_list),2):
    print(my_list[i], end=" ")

20 40 60 80 100

### Calculate the cube of all numbers from 1 to a given number

In [15]:
end=int(input("enter a number "))
for i in range(1,end+1,1):
    print(f"cube of {i} is: {i**3}")

cube of 1 is: 1
cube of 2 is: 8
cube of 3 is: 27
cube of 4 is: 64
cube of 5 is: 125

### len of str in list
### ['apple', 'orange', 'cat']

In [ ]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string

In [37]:
vowels={"a","e","i","o","u"}
word=input("enter a word ")
#Amit is the word
sum=0
for i in word.lower():
    if i in vowels:
        sum+=1
print(sum)

2


### Write a Python program to add an item to a tuple.

In [36]:
my_tuple=(1,2,3,4,5,6,7,8,9)
my_tuple+(10,)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Write a Python program to multiply all the items in a list.

In [41]:
my_list=[1,2,3,4,5]
mul=1
for i in my_list:
    mul*=i
mul

120

### Write a Python program to get the smallest number from a list.

In [46]:
my_list=[4,2,0,2,4,-5]
smallest=my_list[0]
for i in my_list:
    if i<smallest:
        smallest=i
print(smallest)

#OR
min(my_list)

-5

-5

### Write a Python program to get the largest number from a list.

In [47]:
my_list=[4,2,0,2,5,-5]
max(my_list)

5

### Write a Python program to clone or copy a list

In [49]:
my_list=[4,2,0,2,4,-5]
list2=my_list.copy()
list2

[4, 2, 0, 2, 4, -5]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [51]:
s = set([0, 1, 3, 4, 5])
s.remove(3)
s

{0, 1, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [53]:
s = set([-5,0, 1, 3, 4, 5])
print(max(s),min(s))

5 -5

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [2]:
tuple1 = ("name", "age", "city","city")
dict1=dict(enumerate(tuple1))
dict1

{0: 'name', 1: 'age', 2: 'city', 3: 'city'}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [3]:
List=[(10,20,30),(40,50,60),(70,80,90)]
List2=[]
for tuples in List:
    tuples=list(tuples)
    tuples[-1]=100
    List2.append(tuple(tuples))
print(List2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]